/* .navigationWrapper {
    display: flex;
    margin: 0;
    margin-left: 100px;
}
.navigationWrapper li {
    position: relative;
    font-size: 14px;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    padding: 10px 20px;
}
.navigationWrapper a {
    position: relative;
    font-size: 14px; 
    cursor: pointer;
}

.navigationWrapper ul {
    margin: 0;
}


.leadChildMenu li:hover {
    background-color: #dfdfdf;
}


.itineraryChildMenu, .invoiceChildMenu, .toolsChildMenu , .helpChildMenu, .leadChildMenu {
    position: absolute;
    top: 40px;
    padding: 0;
    margin: 0;
    left: 22.5%;
    background-color: #eff3f6;
    border: 1px solid #f1f1f1;
    box-shadow: 3px 3px 5px -5px cornflowerblue;
    width: 200px;
}
.itineraryChildMenu li, .invoiceChildMenu li, .toolsChildMenu li , .helpChildMenu li, .leadChildMenu li {
    font-size: 14px;
    padding: 5px 15px;
    cursor: pointer;
}
.itineraryChildMenu li:hover, .invoiceChildMenu li:hover, .toolsChildMenu li:hover, .helpChildMenu li:hover, .leadChildMenu li:hover {
    background-color: #fff;
}
.childMenuWrapper {
    background-color: #fff;
}

.invoiceChildMenu {
    left: 28.3%;
}

.toolsChildMenu {
    left: 41.5%;
}
.helpChildMenu {
    left: 46%;
}
.leadChildMenu {
    left: 18%;
}

.navbarWrapper {
    padding: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navigationWrapper .active {

} */

.navleftwrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 991px) {
        flex-direction: column;
        width: 100%;
        margin-top: 50px;
    }
}