.tableWrapper tr {
    border: 1px solid #ddd;
    padding: 3px 5px;
}

.tableWrapper tr td, .tableWrapper tr td label {
    cursor: pointer;
}

.tableWrapper tr td:last-child {
    width: 4rem;
    text-align: center;
}
